:root {
    --main-500: rgb(4, 28, 50);
    --main-400: rgb(4, 28, 50, .75);
    --main-300: rgb(4, 28, 50, .50);
    --main-200: rgb(4, 28, 50, .25);
    --add-500: rgb(4, 41, 58);
    --add-400: rgb(4, 41, 58, .75);
    --add-300: rgb(4, 41, 58, .50);
    --add-200: rgb(4, 41, 58, .25);
    --add2-500: rgb(6, 70, 99);
    --add2-400: rgb(6, 70, 99, .75);
    --add2-300: rgb(6, 70, 99, .50);
    --add2-200: rgb(6, 70, 99, .25);
    --acc-500: rgb(236, 179, 101);
    --acc-400: rgb(236, 179, 101, .75);
    --acc-300: rgb(236, 179, 101, .5);
    --acc-200: rgb(236, 179, 101, .25);
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    font-weight: medium;
}