:root {
	--main-500: rgb(4, 28, 50);
	--main-400: rgb(4, 28, 50, 0.75);
	--main-300: rgb(4, 28, 50, 0.5);
	--main-200: rgb(4, 28, 50, 0.25);
	--add-500: rgb(4, 41, 58);
	--add-400: rgb(4, 41, 58, 0.75);
	--add-300: rgb(4, 41, 58, 0.5);
	--add-200: rgb(4, 41, 58, 0.25);
	--add2-500: rgb(6, 70, 99);
	--add2-400: rgb(6, 70, 99, 0.75);
	--add2-300: rgb(6, 70, 99, 0.5);
	--add2-200: rgb(6, 70, 99, 0.25);
	--acc-500: rgb(236, 179, 101);
	--acc-400: rgb(236, 179, 101, 0.75);
	--acc-300: rgb(236, 179, 101, 0.5);
	--acc-200: rgb(236, 179, 101, 0.25);
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}
